<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <title>Thanks for joining our waitlist</title>
    <style type="text/css">
        @import url('https://fonts.googleapis.com/css2?family=DM+Sans&family=Poppins:wght@100&display=swap');

        body {
            font-family: 'Poppins', sans-serif;
        }

        .footer-info {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        .footer-info img {
            margin: 0;
        }

        .logo {
            display: flex;
            margin: auto;
            margin-top: 56px;
            width: 168px;
            height: 66px;
        }

        .text-area {
            padding: 32px;
            width: 80%;
            height: auto;
            background: #F9F9F9;
            border-radius: 8px 8px 0px 0px;
            margin: auto;
            margin-top: 40px;
            font-family: 'DM Sans', sans-serif;
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 161.1%;
            color: #333333;
            flex: none;
            order: 0;
            align-self: stretch;
            flex-grow: 0;
        }

        .footer {
            padding: 32px;
            width: 80%;
            height: auto;
            background: #F9F9F9;
            border-radius: 8px 8px 0px 0px;
            margin: auto;
            margin-top: 40px;
            font-family: 'DM Sans', sans-serif;
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 161.1%;
            color: #333333;
            flex: none;
            order: 0;
            align-self: stretch;
            flex-grow: 0;
        }
    </style>
</head>

<body>
    <div
        style="display: none; font-size: 1px; color: #fefefe; line-height: 1px; font-family: 'Lato', Helvetica, Arial, sans-serif; max-height: 0px; max-width: 0px; opacity: 0; overflow: hidden;">
        Thanks for using our service. </div>
    <section class="text-area">
        Hi there,
        This is a default dummy template for our npm package.
        <br>
        <br>
        We are so happy that you got the chance to use our package.
        <br>
        <br>
        Here's a brief overview of how we can help you:
        <ol>
            <li>Send custom emails without having to go through all the setup hassles</li>
            <br>
            <li>Easily send emails by specifying your service and templates to use.</li>
            <br>
            <li>Deliver emails faster</li>
        </ol>
        <br>
        <p>Speak to us via <a target="_blank" href="mailto:godswillchibuzororie@gmail.com">email</a> </p>
    </section>
</body>

</html>